body{
    background-color: rgb(181, 210, 211);
    color: black;
    font: 12pt normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 50px;
    /*box-shadow: 5px 5px 20px coral;*/
    margin: 30px auto;
    width: 1200px;
    height: 50px;
}
.nome{
    width: 350px;
    font-size: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.e-mail{
    width: 220px;
    font-size: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.telefone{
    width: 120px;
    font-size: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.observação{
    width: 1130px;
    font-size: 15px;
    text-align: justify;
}
.salvar{
    text-align: center;
    width: 70px;
    height: 30px;
    border-radius: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    border-bottom: 1px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-color:black;
}
.salvar:hover{
    color: brown;
    border-color: brown;
    transition: 0,4s;
}
.jqueryslidemenu{
    font: bold 12px Verdana;
    background: rgb(181, 210, 211);
    width: auto;
    }
    .jqueryslidemenu ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    }
    
    /*Top level list items*/
    .jqueryslidemenu ul li{
    position: relative;
    display: inline;
    float: left;
    width: 160px;
    }
    
    /*Top level menu link items style*/
    .jqueryslidemenu ul li a{
    display: block;
    background: rgb(181, 210, 211); /*background of tabs (default state)*/
    color: rgb(88, 11, 11);
    padding: 10px 10px;
    border-right: 1px solid #778;
    color: black;
    text-decoration: none;
    }
    
    * html .jqueryslidemenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
    display: inline-block;
    }
    
    .jqueryslidemenu ul li a:link, .jqueryslidemenu ul li a:visited{
    color: white;
    }
    
    .jqueryslidemenu ul li a:hover{
    background: black; /*tab link background during hover state*/
    color: white;
    }
        
    /*1st sub level menu*/
    .jqueryslidemenu ul li ul{
    position: absolute;
    left: 0;
    display: block;
    visibility: hidden;
    }
    
    /*Sub level menu list items (undo style from Top level List Items)*/
    .jqueryslidemenu ul li ul li{
    display: list-item;
    float: none;
    }
    
    /*All subsequent sub menu levels vertical offset after 1st level sub menu */
    .jqueryslidemenu ul li ul li ul{
    top: 0;
    }
    
    /* Sub level menu links style */
    .jqueryslidemenu ul li ul li a{
    font: normal 13px;
    width: 149px; /*width of sub menus*/
    padding: 5px;
    margin: 0;
    border-top-width: 0;
    border-bottom: 1px solid gray;
    }
    
    .jqueryslidemenuz ul li ul li a:hover{ /*sub menus hover style*/
    background: #eff9ff;
    color: black;
    }
    
    /* ######### CSS classes applied to down and right arrow images ######### */
    
    .downarrowclass{
    position: absolute;
    top: 12px;
    right: 7px;
    }
    
    .rightarrowclass{
    position: absolute;
    top: 6px;
    right: 5px;
    }